/*--------custom css------*/

#content {
  font-family: 'Cabin', sans-serif;
}
#page-title {
  padding-bottom: 112px;
}
.team-member {
  padding: 0 10%;
}
.views-row-odd, .team-member-image {
  float: left;
}
.views-row-even {
  float: right;
}
.views-row-odd, .views-row-even {
  width: 49%;
  margin-bottom: 100px;
}
.team-member-image {
  position: relative;
  top: 1px;
  right: 19px;
}
.field-content p {
  font-size: 16px;
}
.team-member-image img {
  width:150px;
}
.team-member-title{
  font-size: 24px;
  color: #1F2324;
}
.team-member-title, .team-member-body, .team-member-name {
  position: relative;
  right: -9px;

}
.team-member-body {
  top: -15px;
  padding-right: 40px;
  text-transform: capitalize;
  color: #1F2324;
}
.team-member-name {
  font-size: 30px;
  color: #0076ce;
  padding-bottom: 10px;
}
#page-title {
  font-size: 36px;
  color: #0076ce;
  margin-left: 100px;
  text-transform: uppercase;
}
.pane-views-team-member-list-block {
  position: relative;
  top: -32px;
}


/******----------talentwise responsive css---------*********/
/* Portrait and Landscape */

@media screen and (min-width: 960px) and (max-width: 1200px) {
  #page-title {
    font-size: 30px;
    padding-bottom: 60px;
  }
  .team-member {
    padding: 0 8%;
  }
  .team-member-name {
    font-size: 26px;
  }
  .team-member-title {
    font-size: 18px;
  }
  .team-member-body p {
    font-size: 14px;
    text-align: justify;
  }
  .team-member-image {
    padding-bottom: 48px;
  }
  .team-member-body {
    padding-right: 32px;
  }
  .views-row-odd, .views-row-even {
    margin-top: 30px;
    width: 49%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 560px) and (max-width: 960px) {
  #page-title {
    padding-bottom: 80px;
    margin-left: 30px;
    font-size: 28px;
  }
  .views-row-even {
    float: none;
    padding-bottom: 15px;
  }
  .views-row-odd {
    padding-bottom: 15px;
  }
  .views-row-odd, .views-row-even {
    width: 100%;
    margin-bottom: 0;
  }
  .team-member {
    padding: 0 7%;
  }
  .team-member-body p {
    text-align: justify;
    font-size: 14px;
  }
  .team-member-name {
    font-size: 26px;
  }
  .team-member-title {
    font-size: 22px;
  }

}

@media screen and (min-width: 320px) and (max-width: 560px) {
  #page-title {
    font-size: 27px;
    margin-left: 10px;
    padding-bottom: 48px;
  }
  .team-member {
    padding: 0 3%;
  }
  .views-row-odd, .views-row-even {
    width: 100%;
    margin-top:-4px;
    margin-bottom: 0px;
  }
  .team-member-image img {
    width: 100px;
    padding-right: 34px;
  }
  .team-member-name{
    font-size: 20px;
    padding-bottom: 1px;
  }
  .team-member-title {
    font-size: 15px;
  }
  .team-member-name,  .team-member-title {
    right: 3px;
  }
  .team-member-body p{
    font-size: 10px;
    text-align: justify;
  }
  .team-member-image {
    position: relative;
    top: -3px;
    right: -19px;
    padding-bottom: 30px;

  }
  .team-member-body {
    top: -18px;
    line-height: 1.6;
    padding-right: 0;
    right: 3px;
    width:305px;
  }
  .pane-views-team-member-list-block {
    right: 17px;
}
}


